<!-- THIS FILE IS REPRESENTING THE HOME PAGE OF THE APPLICATION -->
<div class="row home-page">
    <div class="col-md-4">
        <img src="../images/background.jpg" alt="Backgroud-Image" id="Home-Page-Image">
    </div>
    <div class=" col-md-6">
        <!-- MAIN HAEDING OF THE HOME PAGE  -->
        <h1><i class="bi bi-columns-gap"></i> Where Progress Meets <br> Possibility!</h1>
        <!-- INTRO PARAGRAPH OF THE APPLICATION -->
        <p class="intro-para">Welcome to our habit-tracking app—a catalyst for change and progress. Seamlessly monitor
            your
            routines, from fitness to productivity, and watch as small steps lead to significant transformation.
            With intuitive tracking and personalized insights, empower yourself to build the life you desire.
            Embrace the power of habits, and let us be your partner in this journey toward a better you.</p>
        <!-- BUTTON TO NAVIGATE TO THE HABIT LIST PAGE  -->
        <a href="/list" class=" btn my-btn">My Habits</a>

    </div>
</div>